VITE_SUPABASE_URL=https://nntykeschqvpaewqdetl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5udHlrZXNjaHF2cGFld3FkZXRsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk2NTg4MDMsImV4cCI6MjA4NTIzNDgwM30.DAehV4lMgaYX_K3y7gOjWH3g2Ex949QUPrUxU2wbXzU
